*
    font-family: 'Quicksand', sans-serif
html
    height: 100vh 
    width: 100vw
    overflow-x: hidden
body
    height: 100%
    width: 100%
    background-color: #e9dddd
header
    height: 10%
    h1
        color: white
        text-align: center

#container
    height: 80%
    width: 80%
    margin: auto
    #informacion
        width: 20%
        height: 60%
        hr
            width: 70%
        #container-info
            margin-left: 15px
            margin-top: 20px
            .container-informacion
                .datos
                    display: none
                    margin: auto
                    p
                        text-align: justify
                        color: black
                        font-size: 16px
                .nombre-dato
                    width: 50%
                    margin-left: 5px
                    color: #353535
                    display: flex
                    flex-direction: row
                    .bi
                        margin-left: 3px
                        margin-top: 3px
                    h4:hover
                        color: #272727
                        font-weight: bolder
    #filtro-map-info
        width: 80%
        height: 60%
        #filtro
            height: 14%
            width: 90%
            border: 1px solid
            border-radius: 25px
            margin: auto
            margin-top: 5px
            margin-bottom: 5px
            h2
                margin-left: 10px
        #map
            height: 82%
            width: 95%
            margin: auto
            border-radius: 5px
        #info-selec-marc 
            margin: auto
            margin-top: 1%
            width: 30%
            height: 4%
            p
                margin: auto
    #opciones-seleccionados
        margin-top: 2%
        height: 38%
        width: 100%
        #imagenes
            margin: auto
            width: 20%
            height: 100%
            .img-sep
                margin-left: auto
                margin-right: auto
                margin-top: 20%
            img 
                width: 55px
                height: 55px
                margin: auto
                p
                    margin-right: 5px
        #seleccionados
            width: 80%
            height: 100%
            .opcionElegida
                width: 24%
                height: 80%
                border: 1px solid
                margin: auto
                border-radius: 15px
                #elegida-info
                    margin-left: 5px
                    margin-right: 5px
                    .btn-close
                        margin-left: auto
                .informacion-cuadrado
                    display: flex
                    flex-direction: row
                    display: none
                    p
                        margin-left: 5px
                .mostrar-info
                    display: flex
                    flex-wrap: wrap
            .opcionElegida:hover
                box-shadow: 5px 5px 5px #888
footer
    height: 10%
    position: fixed
    width: 100%
    #copy
        margin-left: 25px
    #links
        margin-right: 25px
        .bi
            margin: 5px
        i
            font-size: 30px


@media (max-width: 920px)
    #informacion
        display: none
    #container
        width: 100%
        height: 100%
        #filtro-map-info 
            width: 100% 
            #filtro
                height: 8%
            #info-selec-marc
                width: 60%
        #opciones-seleccionados
            flex-direction: column !important
            #seleccionados
                flex-direction: column !important
                width: 100%
                .opcionElegida
                    width: 90%
            #imagenes
                width: 40%
                flex-direction: row !important
                #img-sep
                    flex-direction: row !important